body{
    background-color: whitesmoke;
}
.record{
    background-color: white ;
    text-align: center;
    justify-content: space-between;
    margin: 25px 30px 20px 30px;
    padding-top: 10px;
    border: 1px solid white;
    box-shadow: 0px 3px 10px gray;
    border-radius: 10px;
}

   .top{
    display: flex;
    gap: 3px;
    align-items: center;
}

.addname{
    width: 770px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 30px;
}
.addstudent{
    background-color: green;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}
.saveattendance{
    background-color: rgb(0, 99, 212);
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}
